html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.leaflet-container {
  height: 100%;
}

.leaflet-control {
  display: none;
}

.character {
  position: fixed;
  width: 43px;
  height: 43px;
  top: 50%;
  left: 50%;
  margin-top: -31px;
  margin-left: -31px;
  z-index: 500;
  pointer-events: none;
}

.fog-of-war {
  z-index: 500;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
